.menu_navi{
margin:0px;
padding-bottom:0px;
float: left;
font: bold 18px Arial;
width:400px;
border-width: 1px 0;
background-color:#8B8989;


}
.menu_navi li{
display: inline;
vertical-align: middle;
height:25px;
border-left:3px solid #8B8989;
padding:0 8px 0 16px;
border-radius:0 15px 0 0;
}
#navig {
position:relative;
top:75px;
}
.current{
background:#CDC9C9 center center repeat-x;
}
.menu_navi li:hover{

cursor:pointer;
background:#CDC9C9 center center repeat-x;
}
#all_menu{
    width:900px;
	height:510px;
	background-color:#EEE9E9;
	border-width:2px;
	border-style:solid;

}
#con, #con_g, #con_y, #con_b, #con_z, #con_m{
    padding-top:50px;
	margin:0 auto;
	height:650px;
	width:900px;
	}



#osnova, #osnova_g, #osnova_y, #osnova_m, #osnova_b,#osnova_z {
	width:900px;
	height:100px;
	
	background-color:#EEE9E9;
	border-width:2px;
	border-style:solid;
	
}
#news {
	width:450px;
	height:460px;
	float:left;
	background-color:#EEE9E9;
	border-width:2px;
	border-style:solid;
	
}
#sale {
	
	width:450px;
	height:460px;
	margin-left:450px;
	background-color:#EEE9E9;
	border-width:2px;
	border-style:solid;
}
#rest,#y_bron, #bron, #zakaz{
	width:400px;
	height:510px;
	float:left;
	background-color:#EEE9E9;
	border-width:2px;
	border-style:solid;
	
}

#galereya,#y_zakaz , #map, #action{
	width:500px;
	height:510px;
	margin-left:400px;
	background-color:#EEE9E9;
	border-width:2px;
	border-style:solid;
	
}
#table_b{
margin:0 auto;
padding-top:100px;
//border-width:2px;
//border-style:ridge;
}
#table_b td{
border-width:2px;
border-style:ridge;
border-color: #000000;
}
#table_b tr:hover{
background:#D3D3D3;
cursor:pointer;
}
.chosen {
background: #C0C0C0;
}
#but{
margin-left:30px;
}
#select_menu{
position:absolute;
top:197px;
left:500px;
visibility:visible;
}
#menu_1{
position:absolute;
top:16px;
left:250px;
width:200px;
visibility:visible;
}
#menu_2{
position:absolute;
top:16px;
left:250px;
width:200px;
visibility:hidden;
}
#menu_3{
position:absolute;
top:16px;
left:250px;
width:200px;
visibility:hidden;
}
.hidd{
	background-color:#CDC9C9;
	border:0px;
	color:black;
}
#butt{

padding-left:500px;

}
#status_div {
position:relative;
top:-15px;
left:180px;

width:10px;
height:10px;
}


